{% extends 'base.html' %}
{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/show_lyric'>

    <table>
        <tr><td>Enter 1st vowel: </td><td><input name='vowel1' type='TEXT' size="3" maxlength="4"></td></tr>
        <tr><td>Enter 2nd vowel: </td><td><input name='vowel2' type='TEXT' size="3" maxlength="4"></td></tr>
        <tr><td>Enter consonant: </td><td><input name='consonant' type='TEXT' size="3" maxlength="4"></td></tr>
    </table>

    <p><input value='Create' type='SUBMIT'></p>

</form>
{% endblock %}
