{% extends 'base.html' %}
{% block body %}

<h2><i> {{ page_title }} &#127927; &#127926; &#127930;</i></h2>

<table>
    <tr>
        <td>
            {% for one_lyric in all_lyrics %}
                <p>{{ one_lyric[0] }} ({{ one_lyric[1].strftime('%Y-%b-%d') }})</p>
            {% endfor %}
        </td>

        <td valign="top">
            <p><a href="{{ url_for('create_lyric') }}">See Jazz Lyric</a></p>
            <p><a href="/">Create a Jazz Lyric</a></p>
        </td>
    </tr>
</table>


{% endblock %}